#root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}  

.App {
  max-width: 1170px;
  margin-left: 15px;
}

.gig-grid {
  display: flex;
  flex-wrap: wrap;
}

.activity-container {
  margin-bottom: 50px;
  margin-right: 8.33333333%;
  width: 41.6666666666666%;
}

.member-price span {
  margin-right: 15px;
  padding: 5px 3px 1px 0;
}

img {
  width: auto;
  max-height: 350px;
}

.each-image {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.active {
  border: 1px solid black;
  padding: 4px 4px 1px 4px;
  white-space: nowrap;
}

.active:hover {
  outline: none;
  color: #fff;
  background-color: #000;
}

.MuiButtonBase-root-17 {
  margin-right: 10px !important;
}

@media screen and (max-width: 992px) {
  img {
      max-height: 250px;
  }
}